<template name="calendar">
    <div class="template-calendar container">
        {{> esInput id="searchUpcomingEvents" index="events" placeholder="Search..." }}

        {{#ifEsInputIsEmpty index="events"}}
            <div>Search for players</div>
        {{/ifEsInputIsEmpty}}

        {{#ifEsHasNoResults index="events"}}
            <div class="no-results">No results found!</div>
        {{/ifEsHasNoResults}}

        {{#ifEsIsSearching index="events"}}
            <div>Loading...</div>
        {{else}}
            <ul class="collapsible popout">
                {{#esEach index="events"}}
                    {{> calendarEvent}}
                {{/esEach}}
            </ul>

            {{> esLoadMoreButton index="events"}}
        {{/ifEsIsSearching}}

        <h2>Upcoming events</h2>

        {{#if notEmpty upcomingEvents}}
            <ul class="collapsible popout">
                {{#each upcomingEvents}}
                    {{> calendarEvent}}
                {{/each}}
            </ul>
        {{else}}
            <div>
            <h5 class="center-align">
                No upcoming events :( Please add one!
            </h5>
        </div>

        {{/if}}

        <h2>Past events</h2>

        {{#if notEmpty pastEvents}}
            <ul class="collapsible popout">
                {{#each pastEvents}}
                    {{> calendarEvent}}
                {{/each}}
            </ul>
        {{else}}
            <div>
            <h5 class="center-align">
                No events in the past.
            </h5>
        </div>

        {{/if}}
    </div>
</template>
